<li id="comment-<%= comment.id%>">
    <p>
        <% if (locals.user ){%>
            <small>
                <a class="commentLink" href="/comments/delete/<%= comment.id%>">x</a>

            </small>
            <%}%>

                <%= comment.content%>
                    <br>
                    <small>
                        <%= comment.user.name%>
                    </small>
    </p>
</li>