<h1>Sign In page</h1>

<form action="/users/create-session" , method="post">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="enter email" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="enter password" required>
    <input type="submit" value="Sign In">
</form>