<h1>Sign up page</h1>
<form action="/users/create" method="post">
    <label for="Iname">User Name</label>
    <input type="text" id="Iname" name="name" placeholder="type name here" required>
    <label for="Iemail">E-mail</label>
    <input type="email" id="Iemail" name="email" placeholder="type email" required>
    <label for="Ipassword">Password</label>
    <input type="password" id="Ipassword" name="password" required>
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required>
    <input type="submit" value="Sign Up">
</form>

<p>
    <a href="/users/auth/google">
     Google Sign In/Sign Up
    </a>
</p>